<div class="limiter">
  <mat-toolbar color="accent" style="float: inline-end;">
    <button mat-button routerLink="/recipes/list">
    <mat-icon>home</mat-icon>Volver</button>
  </mat-toolbar>
  <div class="container-login100" style="background-image: url('../../../../assets/images/fondo_5.jpg');">
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
          <router-outlet />
      </div>
  </div>
  <div class="m-5">
    <h4 class="m-3">Ayuda</h4>
    <div class="grid m-3">
      <div class="col-6">
        <div class="mb-3"><a href="">Contacto</a></div>
        <div class="mb-3"><a href="">Sobre nosotros</a></div>
        <div class="mt-1 copyright"><strong> © Mi libro de recetas.</strong></div>
      </div>
      <div class="col-3">
        <div class="mb-3"><a href="">Info legal</a></div>
        <div><a href="">Buzón de sugerencias</a></div>
      </div>
      <div class="col-3" style="text-align: end;">
        <h5>Siguenos en las redes sociales</h5>
        <a href="https://www.instagram.com" class="m-3"><img src="/assets/instagram.svg" alt="imagen"></a>
        <a href="https://www.facebook.com" class="m-3"><img src="/assets/facebook.svg" alt="imagen"></a>
        <a href="https://twitter.com"><img src="/assets/twitter.svg" alt="imagen"></a>


      </div>
    </div>
  </div>
</div>





